
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; <!-- Reference the shared layout -->
}

<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome to your cartpage!</h1>
</body>
</html>

